/*styles for home content only*/
ol.side-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol.side-list li:last-child {
  border: none;
}
 
li.side-list {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    text-decoration: none;
    color: #515151;
    display: block;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

ol.side-list li.selected {
    font-weight: bold;
}
 
ol.side-list li:hover {
  color:black;
}