<header class="intro-header" style="background-image: url('assets/img/home.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Software Engineering</h1>
                    <hr class="small">
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main" *ngIf="selectedArticle" [innerHTML]="content">
            </div>
            <div class='col-sm-3 offset-sm-1 blog-sidebar'>
                <div class="sidebar-module">
                    <h4>Posts</h4>
                    <ol class="side-list">
                        <li class="side-list" *ngFor="let article of articles"
                            [class.selected]="article.id === selectedArticle.id"
                            (click)="onSelect(article)">{{article.title}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
